.navButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.navButtons a {
  display: inline-flex;
  color: var(--text-over-primary);
  background: var(--primary);

  padding: 0.8rem 0.8rem;
  border-radius: 0.8rem;
}
