.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 4.8rem;
}

.footer a {
  color: var(--text-muted);
  font-size: 1.2rem;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  filter: none;
}
